.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.cl-main {
    padding: 10px 20px;
    font-family: monospace;
    background-color: #ccc;

    .e-header {
        margin-bottom: 20px;

        h1, h4 {
            margin: 0;
        }

        h4, h6 {
            color: #777;
        }
    }

    input.cl-locs {
        width: 400px;
    }

    input.cl-searchtype {
        width: 50px;
    }

    input.cl-query {
        width: 300px;
    }

    .cl-results {
        margin-top: 20px;

        .cl-result-url {
            width: 90%;
            text-align: right;
        }

        iframe {
            @include size(90%, 500px);
            border: none;
            box-shadow: 0 0 5px 1px rgba(black, 0.1);
        }
    }
}